In [1]:
import pandas as pd

df_person = pd.read_csv("/Users/VAston/Downloads/mbti_1.csv")

In [2]:
df_person.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [4]:
df_person.groupby(df_person['type']).count()

      posts
type
ENFJ    190
ENFP    675
ENTJ    231
ENTP    685
ESFJ     42
ESFP     48
ESTJ     39
ESTP     89
INFJ   1470
INFP   1832
INTJ   1091
INTP   1304
ISFJ    166
ISFP    271
ISTJ    205
ISTP    337

In [ ]:
df_person.groupby(df_person['type']).count()

In [40]:
array_4 = [1,2,3,4,5,6,3,7,8]

In [41]:
array_4.index(3)

2

In [38]:
array_1 = np.array([1,2,3,4,5,4,6,7,8])

In [39]:
import numpy as np
loc = np.where(array_1 == 4)
print(loc)

(array([3, 5]),)

In [11]:
df_person.isnull().sum()

type     0
posts    0
dtype: int64

In [15]:
df_person.isnull().sum()

type     0
posts    0
dtype: int64

In [25]:
df_person.groupby(df_person['type']).count()

      posts
type
ENFJ    190
ENFP    675
ENTJ    231
ENTP    685
ESFJ     42
ESFP     48
ESTJ     39
ESTP     89
INFJ   1470
INFP   1832
INTJ   1091
INTP   1304
ISFJ    166
ISFP    271
ISTJ    205
ISTP    337

In [26]:
df_person['type'].nunique()

16

In [27]:
list_1 = []
list_2 = [1,2,3]

if not list_1:
    print("no list!")
else:
    print("list")

no list!

In [34]:
df_person.drop(['posts'], axis =1).apply(pd.Series.value_counts)

      type
INFP  1832
INFJ  1470
INTP  1304
INTJ  1091
ENTP   685
ENFP   675
ISTP   337
ISFP   271
ENTJ   231
ISTJ   205
ENFJ   190
ISFJ   166
ESTP    89
ESFP    48
ESFJ    42
ESTJ    39